.card {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-submit {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  margin-left: 430px;
  font-size: 15px; 
}
.btn-submit:hover {
  background-color: darkgreen; 
}
.btn-reset {
  background-color: lightcoral;
  color: white; 
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  margin-left: 4px;
  font-size: 15px; 
}

.btn-reset:hover {
  background-color: darkcyan; 
  color: #ffffff; 
}

.btn-reset:focus {
  outline: none;
}


/* Media query for tablets */
@media (max-width: 991px) {
  .card {
    width: 90%;
    padding: 15px;
  }
  .btn-submit {
    margin-left: 190px;
    margin-top: 20px;
  }
}


/* Media query for tablets */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 18px;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 16px;
  }
  .btn-submit {
   margin-left: 90px;
  }
}

@media (max-width: 374px) {
  
  .btn-submit {
   margin-left: 60px;
  }
}